html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ECF0F5;
}

.navbar-inverse .navbar-toggle {
    border-color: #D33C44;
    background: #D33C44;
}

.content,
.content-color {
    padding: 15px;
}

.content {
    background: #FFF;
}

.content-color {
  background: #F4F4F4
}

.content-text {
  color: #666;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
  margin-bottom: 15px;
}

.content-text img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-content,
.title-content-color,
.title-page {
  color: #D33C44;
  line-height: 56px;
}

.btn-login {
  margin-top: 0px;
  margin-bottom: 0p;
}

hr {
  border: 1px solid #D33C44;
}

.top-bar{background-color:#D33C44;min-height:40px;padding-top:5px;padding-bottom: 0px;}
.top-bar .nav-text {
    color: #FFF;
    display: block;
    margin-top: 5px;
}

.top-bar .social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.top-bar .tools{margin:0px;padding:0px;list-style-type:none;}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}

.navbar-brand {
    /* float: left; */
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    z-index: 11;
    margin: 0 auto;
    right: 42%;
}


.navbar-inverse {
    background-color: #363637;
    border-color: #363637;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid #000;;
    border-radius:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 11px;}

.btn-default-1 {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 0px;
}

.cart-heart a{display:inline-block;color:#fff;font-size:20px;padding:5px;}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35px;
    width: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px){
    .carousel-caption h3{font-size: 52px;}
    .carousel-caption p{font-size: 32px;}
    .carousel-caption{padding-bottom:160px;}
}

.logo-img {
    max-width: 160px;
}

/*CAROUSEL START///////////////////*/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../images/calculator-385506_1920.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/paperwork-3154814_1920.jpg);
}

@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

/*BLOG START///////////////////*/
section{
    padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}
.blog .card {
    background-color: #FFF;
    border: 1px solid #eceaea;
    margin: 20px 0px;
}

.blog .card-block {
    padding: 15px;
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}

/*ACCOUNT START///////////////////*/
.account-form {
	background: #F4F4F4;
	padding: 35px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

/*FOOTER START///////////////////*/
footer.nb-footer {
background: #222;
border-top: 4px solid #D33C44; }

footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }

footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }

footer.nb-footer .about .social-media {
margin-top: 15px; }

footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #D33C44;
border: 1px solid rgba(255, 255, 255, 0.3); }

footer.nb-footer .about .social-media ul li a:hover {
background: #D33C44;
color: #fff;
border-color: #D33C44; }

footer.nb-footer .footer-info-single {
margin-top: 30px; }

footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #D33C44;
padding-left: 5px; }

footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }

footer.nb-footer .footer-info-single ul li a:hover {
color: #D33C44; }

footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }

footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }

footer.nb-footer .copyright p {
margin: 0;
padding: 0; }

.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}

i.red{
    color:#BC0213;
}

.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}

.division {
    border: 1px dashed #D33C44;
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-validation {
    background: #BC0213;
    font-weight: 700;
    font-size: 13px;
    padding: 3px;
    color: #FFF;
    margin-top: 5px;
    border-radius: 2px;
}

.message.success,
.message.error {
    background: #449D44;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.message.error  {
    background: #D9534F;
}

.content-form {
    background: #FFF;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 3px solid #D33C44;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #D2D6DE;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
}

.btn-submit,
.btn-submit:hover {
    background-color: #D33C44;
    border-color: #D33C44;
    color: #FFF;
}